.AudioPanel {
  position: absolute;
  top: 16%;
  left: calc(100% - 50px);
  width: 50px;
}

.AudioPanel-Volume {
  display: flex;
  flex-direction: column-reverse;
  width: 12px;
  height: 150px;
  top: 16%;
}

.AudioPanel-ScaleItem {
  margin-top: 2px;
  width: 12px;
  border: 1px solid green;
  border-collapse: none;
}
.AudioPanel-ScaleItem_isLoaded {
  background-color: green;
}


.AudioPanel-AudioFrequency {
  position: relative;
  margin-top: 20px;
  left: -35px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 180px;
}

.AudioPanel-AudioFrequencyColumn {
  margin: 1px;
  height: 10%;
  background-color: green;
}