.AudioPanel {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 12px;
  height: 150px;
  top: 16%;
  left: calc(100% - 48px);
}

.AudioPanel-ScaleItem {
  margin-top: 2px;
  width: 12px;
  border: 1px solid green;
  border-collapse: none;
}

.AudioPanel-ScaleItem_isLoaded {
  background-color: green;
}